@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap");
#fooldalbody {
  padding: 0%;
  margin: 0;
  background-image: url(kepekuj/hatter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  box-sizing: border-box;
}
#fooldalmain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "h h h"
    "n n n"
    "a a as"
    "f f f";
  font-family: "Roboto";
}
header,
nav,
article,
aside,
footer {
  padding: 5px;
}
header {
  grid-area: h;
  text-align: center;
  text-decoration: underline;
  font-family: "Indie Flower";
  font-size: 50px;
}
nav {
  grid-area: n;
}
.menu a {
  padding: 5px;
  text-decoration: none;
  border: 1px solid lightgray;
}
.menu li {
  list-style-type: none;
}
.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
article {
  grid-area: a;
}
.termekek {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.elado {
  padding: 5px 5px 15px 5px;
  margin: 15px;
  background-color: white;
  border: 1px solid gray;
  position: relative;
}
.lokikep {
  max-width: 166px;
  max-height: 222px;
}
.elado h3 {
  padding: 5%;
}
article img {
  width: 100%;
}
article .nev {
  font-family: "Cormorant Garamond";
}
article .kosar {
  border: 1px solid black;
  background-color: lightgray;
  padding: 5px;
  text-decoration: none;
  color: black;
  text-align: center;
}
.vasarlas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  bottom: 0;
}
.ar {
  text-align: right;
  margin: auto;
  border: 1px solid lightgray;
  padding: 5px;
}
aside{
  grid-area: as;
  background-color: white;
  border: 1px solid gray;
  margin: 20px;
}
aside ul {
  list-style-type: georgian;
}
.fizetes {
  text-decoration: none;
  border: 1px solid black;
  background-color: rgb(253, 235, 213);
  color: red;
  padding: 2px;
}
footer {
  grid-area: f;
  text-align: center;
  text-decoration: underline;
  font-family: "Indie Flower";
  font-size: 25px;
}

/*galéria oldala*/
#galeriabody {
  margin: 0%;
  padding: 0%;
  background-image: url(kepekuj/hatter.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#galeriamain {
  margin: auto;
  width: 80%;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "h h h"
    "n n n"
    "a a a"
    "f f f";
  font-family: "Roboto";
}
.galeria {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}
#galeriaoldal {
  margin: auto;
}
.gal-szov {
  text-align: center;
}
.galeriakep {
  max-width: 500px;
  padding: 10px;
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.galeriakep:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0);
}
::-webkit-scrollbar{
    width: 10px;
}
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 255, 102);
    border-radius: 10px;
}


/* TÖRÉS PONTOK */
@media only screen and (max-width: 800px) {
  main {
    font-size: calc(8px + 2vw);
  }
  .termekek {
    grid-template-columns: 1fr 1fr;
  }
  #galeriamain{
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "h h"
    "n n"
    "a a"
    "f f";
  }
  .galeria{
    grid-template-columns: 1fr 1fr;
  }

}
@media only screen and (max-width: 400px) {
  #fooldalmain{
    grid-template-columns: 1fr;
    grid-template-areas:
      "h"
      "as"
      "n"
      "a"
      "f";
    font-size: calc(8px + 5vw);
  }
  .menu {
    grid-template-columns: 1fr;
  }
  .termekek {
    grid-template-columns: 1fr;
  }
  #galeriamain{
    grid-template-columns: 1fr;
    grid-template-areas:
    "h"
    "n"
    "a"
    "f";
  }
  .galeria{
    grid-template-columns: 1fr;
  }
}
